<div dir="ltr">Dear Sir ,<div><br></div><div>Kindly advise price correction for attached items.</div><div><br></div><div><table border="0" cellpadding="0" cellspacing="0" width="1916" style="border-collapse:collapse;width:1440pt">

 <colgroup><col width="27" style="width:20pt">
 <col width="101" style="width:76pt">
 <col width="42" style="width:32pt">
 <col width="83" style="width:62pt">
 <col width="91" style="width:68pt">
 <col width="41" style="width:31pt">
 <col width="60" style="width:45pt">
 <col width="83" style="width:62pt">
 <col width="45" style="width:34pt">
 <col width="61" style="width:46pt">
 <col width="69" style="width:52pt">
 <col width="42" style="width:32pt">
 <col width="81" style="width:61pt">
 <col width="65" style="width:49pt">
 <col width="39" style="width:29pt">
 <col width="61" style="width:46pt">
 <col width="49" style="width:37pt">
 <col width="71" style="width:53pt">
 <col width="96" style="width:72pt">
 <col width="89" style="width:67pt">
 <col width="39" style="width:29pt">
 <col width="50" style="width:38pt">
 <col width="60" span="2" style="width:45pt">
 <col width="61" style="width:46pt">
 <col width="110" style="width:83pt">
 <col width="80" style="width:60pt">
 <col width="160" style="width:120pt">
 </colgroup><tbody><tr height="20" style="height:15pt">
  <td rowspan="3" height="72" class="gmail-xl90" width="27" style="height:54pt;width:20pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Sr.</td>
  <td rowspan="3" class="gmail-xl90" width="101" style="width:76pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Customer</td>
  <td rowspan="3" class="gmail-xl90" width="42" style="width:32pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Channel</td>
  <td rowspan="3" class="gmail-xl90" width="83" style="width:62pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Entry Date</td>
  <td rowspan="3" class="gmail-xl90" width="91" style="width:68pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">SO</td>
  <td rowspan="3" class="gmail-xl90" width="41" style="width:31pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Item</td>
  <td rowspan="3" class="gmail-xl90" width="60" style="width:45pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Product</td>
  <td rowspan="3" class="gmail-xl90" width="83" style="width:62pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Grade</td>
  <td rowspan="3" class="gmail-xl90" width="45" style="width:34pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Th</td>
  <td rowspan="3" class="gmail-xl90" width="61" style="width:46pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Width</td>
  <td rowspan="3" class="gmail-xl90" width="69" style="width:52pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Length</td>
  <td rowspan="3" class="gmail-xl90" width="42" style="width:32pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Qty</td>
  <td colspan="6" class="gmail-xl65" width="295" style="border-left:none;width:222pt;color:red;font-weight:700;text-align:center;border-top:0.5pt solid windowtext;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;background:rgb(255,204,0);padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">As
  per SAP</td>
  <td class="gmail-xl65" width="96" style="border-left:none;width:72pt;color:red;font-weight:700;text-align:center;border-top:0.5pt solid windowtext;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;background:rgb(255,204,0);padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap"> </td>
  <td colspan="6" class="gmail-xl66" width="298" style="border-left:none;width:224pt;color:red;font-weight:700;text-align:center;border-top:0.5pt solid windowtext;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;background:rgb(255,204,0);padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">Discretionary
  Approval</td>
  <td class="gmail-xl66" width="110" style="border-left:none;width:83pt;color:red;font-weight:700;text-align:center;border-top:0.5pt solid windowtext;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;background:rgb(255,204,0);padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap"> </td>
  <td rowspan="3" class="gmail-xl92" width="80" style="width:60pt;color:windowtext;font-weight:700;text-align:center;border:0.5pt solid windowtext;background:rgb(153,204,255);padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom">Diff
  (Surcharge/Discount) to add in the system</td>
  <td rowspan="3" class="gmail-xl92" width="160" style="width:120pt;color:windowtext;font-weight:700;text-align:center;border:0.5pt solid windowtext;background:rgb(153,204,255);padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom">Remarks</td>
 </tr>
 <tr height="29" style="height:21.75pt">
  <td rowspan="2" height="52" class="gmail-xl68" width="81" style="height:39pt;border-top:none;width:61pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">System Base Price</td>
  <td rowspan="2" class="gmail-xl68" width="65" style="border-top:none;width:49pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">GE</td>
  <td rowspan="2" class="gmail-xl68" width="39" style="border-top:none;width:29pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">ME</td>
  <td rowspan="2" class="gmail-xl68" width="61" style="border-top:none;width:46pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">DE</td>
  <td rowspan="2" class="gmail-xl68" width="49" style="border-top:none;width:37pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">PE</td>
  <td rowspan="2" class="gmail-xl68" width="71" style="border-top:none;width:53pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Frt+St
  on Frt</td>
  <td rowspan="2" class="gmail-xl68" width="96" style="border-top:none;width:72pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Delivered
  Price</td>
  <td rowspan="2" class="gmail-xl68" width="89" style="border-top:none;width:67pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Min Base
  Price</td>
  <td rowspan="2" class="gmail-xl68" width="39" style="border-top:none;width:29pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">GE</td>
  <td rowspan="2" class="gmail-xl68" width="50" style="border-top:none;width:38pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">ME</td>
  <td rowspan="2" class="gmail-xl68" width="60" style="border-top:none;width:45pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">DE</td>
  <td class="gmail-xl68" width="60" style="border-top:none;border-left:none;width:45pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">PE</td>
  <td rowspan="2" class="gmail-xl68" width="61" style="border-top:none;width:46pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Frt+ST
  on Frt</td>
  <td rowspan="2" class="gmail-xl68" width="110" style="border-top:none;width:83pt;color:windowtext;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif">Delivered
  Price</td>
 </tr>
 <tr height="23" style="height:17.25pt">
  <td height="23" class="gmail-xl69" style="height:17.25pt;border-top:none;border-left:none;color:black;font-weight:700;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;white-space:nowrap"> </td>
 </tr>
 <tr height="20" style="height:15pt">
  <td height="20" class="gmail-xl70" style="height:15pt;border-top:none;color:black;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">1</td>
  <td class="gmail-xl71" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">SILVER Copper</td>
  <td class="gmail-xl71" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">SP</td>
  <td class="gmail-xl71" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">17.01.19</td>
  <td class="gmail-xl71" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">2100182639</td>
  <td class="gmail-xl72" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;background:yellow;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">10</td>
  <td class="gmail-xl71" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">HRPO</td>
  <td class="gmail-xl71" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">CDRW02</td>
  <td class="gmail-xl73" style="border-top:none;border-left:none;color:windowtext;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">1.8</td>
  <td class="gmail-xl74" style="border-top:none;border-left:none;color:black;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">1,250.00</td>
  <td class="gmail-xl74" style="border-top:none;border-left:none;color:black;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">0.00</td>
  <td class="gmail-xl75" style="border-top:none;border-left:none;color:black;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">40</td>
  <td class="gmail-xl76" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">52,300</td>
  <td class="gmail-xl76" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">110</td>
  <td class="gmail-xl77" style="border-top:none;border-left:none;color:black;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">700</td>
  <td class="gmail-xl76" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">0</td>
  <td class="gmail-xl78" style="border-top:none;border-left:none;color:black;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">      850 </td>
  <td class="gmail-xl79" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">707.00</td>
  <td class="gmail-xl82" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;background:yellow;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">54667</td>
  <td class="gmail-xl83" style="border-top:none;border-left:none;color:black;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">50028.00</td>
  <td class="gmail-xl77" style="border-top:none;border-left:none;color:black;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">110</td>
  <td class="gmail-xl83" style="border-top:none;border-left:none;color:black;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">0.00</td>
  <td class="gmail-xl83" style="border-top:none;border-left:none;color:black;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">0.00</td>
  <td class="gmail-xl83" style="border-top:none;border-left:none;color:black;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">0.00</td>
  <td class="gmail-xl84" align="right" style="border-top:none;border-left:none;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">2462</td>
  <td class="gmail-xl87" style="border-top:none;border-left:none;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;background:yellow;padding-top:1px;padding-right:1px;padding-left:1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap">52600.00</td>
  <td class="gmail-xl88" style="border-top:none;border-left:none;color:black;text-align:center;vertical-align:middle;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;white-space:nowrap">     (2,067.00)</td>
  <td class="gmail-xl77" style="border-top:none;border-left:none;color:black;text-align:center;border-right:0.5pt solid windowtext;border-bottom:0.5pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:bottom;white-space:nowrap"> </td>
 </tr>

</tbody></table></div></div>
