<div dir="ltr"><p class="MsoNormal" style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="EN-US" style="font-size:10pt;font-family:Arial,sans-serif;color:rgb(68,84,106)">Dear Sir,</span></p><p class="MsoNormal" style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="EN-US" style="font-size:10pt;font-family:Arial,sans-serif;color:rgb(68,84,106)">Kindly arrange for price correction as
per below table.</span></p><p class="MsoNormal" style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif">



</p><p class="MsoNormal" style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="EN-US" style="font-size:10pt;font-family:Arial,sans-serif;color:rgb(68,84,106)">These sizes are missed by me in previous
price correction mail.</span></p><p class="MsoNormal" style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="EN-US" style="font-size:10pt;font-family:Arial,sans-serif;color:rgb(68,84,106)"><br></span></p><p class="MsoNormal" style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="EN-US" style="font-size:10pt;font-family:Arial,sans-serif;color:rgb(68,84,106)"></span></p><table border="0" cellpadding="0" cellspacing="0" width="801" style="border-collapse:collapse;width:601pt">

 <colgroup><col width="68" style="width:51pt">
 <col width="64" style="width:48pt">
 <col width="71" style="width:53pt">
 <col width="64" span="2" style="width:48pt">
 <col width="153" style="width:115pt">
 <col width="64" span="3" style="width:48pt">
 <col width="61" style="width:46pt">
 <col width="64" style="width:48pt">
 </colgroup><tbody><tr height="101" style="height:75.75pt">
  <td height="101" class="m_1413910828168356962gmail-xl65" width="68" style="height:75.75pt;width:51pt;padding:0cm 1px;color:black;font-size:11pt;font-weight:700;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border:1pt solid windowtext">Customer</td>
  <td class="m_1413910828168356962gmail-xl66" width="64" style="width:48pt;color:black;font-size:11pt;font-weight:700;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">Channel</td>
  <td class="m_1413910828168356962gmail-xl66" width="71" style="width:53pt;color:black;font-size:11pt;font-weight:700;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">Entry Date</td>
  <td class="m_1413910828168356962gmail-xl67" width="64" style="width:48pt;color:black;font-size:11pt;font-weight:700;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">SO</td>
  <td class="m_1413910828168356962gmail-xl66" width="64" style="width:48pt;color:black;font-size:11pt;font-weight:700;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">Item</td>
  <td class="m_1413910828168356962gmail-xl66" width="153" style="width:115pt;color:black;font-size:11pt;font-weight:700;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">Product</td>
  <td class="m_1413910828168356962gmail-xl66" width="64" style="width:48pt;color:black;font-size:11pt;font-weight:700;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">System MBP</td>
  <td class="m_1413910828168356962gmail-xl66" width="64" style="width:48pt;color:black;font-size:11pt;font-weight:700;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">System NSR</td>
  <td class="m_1413910828168356962gmail-xl66" width="64" style="width:48pt;color:black;font-size:11pt;font-weight:700;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">Actual MBP</td>
  <td class="m_1413910828168356962gmail-xl66" width="61" style="width:46pt;color:black;font-size:11pt;font-weight:700;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">Diff (Discount) to add in the
  system</td>
  <td class="m_1413910828168356962gmail-xl66" width="64" style="width:48pt;color:black;font-size:11pt;font-weight:700;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">QTY.</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">10</td>
  <td class="m_1413910828168356962gmail-xl71" style="padding:0cm 1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:middle;border:none;white-space:nowrap">HRPOSF_A04_NA_T3_S</td>
  <td class="m_1413910828168356962gmail-xl68" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">42000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">41500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">39000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-2500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">20</td>
  <td class="m_1413910828168356962gmail-xl72" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRPOSF_A04_NA_T3_N</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">42000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">41500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-3500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">5</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">30</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRPOSF_A04_NA_T3_N</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">42000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">41500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-3500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">5</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">40</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRPOSF_A04_NA_T3_S</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">42000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">41500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-3500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">5</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRPOSF_A04_NA_T3_N</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">37000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">36500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">60</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRPOSF_A04_NA_T3_N</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">37000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">36500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">4</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">70</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRPOSF_A04_NA_T3_N</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">37000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">36500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">5</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">80</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRPOSF_A04_NA_T3_N</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">37000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">36500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">90</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRPOSF_A04_NA_T3_N</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">42000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">41500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-3500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">6</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">100</td>
  <td class="m_1413910828168356962gmail-xl71" style="padding:0cm 1px;color:black;font-size:11pt;font-family:Calibri,sans-serif;vertical-align:middle;border:none;white-space:nowrap">HRPOSF_A04_NA_T3_N</td>
  <td class="m_1413910828168356962gmail-xl68" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">42000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">41500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-3500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1.5</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">110</td>
  <td class="m_1413910828168356962gmail-xl72" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRPOSF_A04_NA_T3_N</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">42000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">41500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-3500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">120</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRPOSF_A04_NA_T3_N</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">42000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">41500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-3500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">4</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">130</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRPOSF_A04_NA_T3_N</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">42000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">41500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-3500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">4</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">140</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRPOSF_A04_NA_T3_N</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">42000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">41500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-3500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">11</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">150</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRSF_A04_NA_T4_N</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">42000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">41500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-3500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="m_1413910828168356962gmail-xl68" style="height:15.75pt;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">NCO1</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">45</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">05.03.2019</td>
  <td class="m_1413910828168356962gmail-xl70" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(220,230,241);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">50011466</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">160</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">HRSF_A04_NA_T4_N</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">42000</td>
  <td class="m_1413910828168356962gmail-xl68" style="border-left:none;color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">41500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">38000</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-3500</td>
  <td class="m_1413910828168356962gmail-xl69" style="color:black;font-size:11pt;font-family:Calibri,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1</td>
 </tr>

</tbody></table><p class="MsoNormal" style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="EN-US" style="font-size:10pt;font-family:Arial,sans-serif;color:rgb(68,84,106)"><br></span></p><p class="MsoNormal" style="margin:0cm 0cm 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="EN-US" style="font-size:10pt;font-family:Arial,sans-serif;color:rgb(68,84,106)">Regards</span></p></div>
