<div dir="ltr">Dear Sir,<div><br></div><div>Please advise price correction for attached items.</div><div><br></div><div><table border="0" cellpadding="0" cellspacing="0" width="2240" style="border-collapse:collapse;width:1680pt">

 <colgroup><col width="64" span="35" style="width:48pt">
 </colgroup><tbody><tr height="21" style="height:15.75pt">
  <td rowspan="3" height="63" class="gmail-xl81" width="64" style="border-width:1pt;border-style:solid;border-color:windowtext windowtext black;height:47.25pt;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px">Sr. No.</td>
  <td rowspan="3" class="gmail-xl81" width="64" style="border-width:1pt;border-style:solid;border-color:windowtext windowtext black;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px">Customer</td>
  <td rowspan="3" class="gmail-xl81" width="64" style="border-width:1pt;border-style:solid;border-color:windowtext windowtext black;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px">DATE</td>
  <td rowspan="3" class="gmail-xl81" width="64" style="border-width:1pt;border-style:solid;border-color:windowtext windowtext black;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px">SO No.</td>
  <td rowspan="3" class="gmail-xl81" width="64" style="border-width:1pt;border-style:solid;border-color:windowtext windowtext black;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px">Item</td>
  <td rowspan="3" class="gmail-xl81" width="64" style="border-width:1pt;border-style:solid;border-color:windowtext windowtext black;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px">Prd</td>
  <td rowspan="3" class="gmail-xl81" width="64" style="border-width:1pt;border-style:solid;border-color:windowtext windowtext black;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px">Grade</td>
  <td rowspan="3" class="gmail-xl81" width="64" style="border-width:1pt;border-style:solid;border-color:windowtext windowtext black;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px">Thick</td>
  <td rowspan="3" class="gmail-xl81" width="64" style="border-width:1pt;border-style:solid;border-color:windowtext windowtext black;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px">Width</td>
  <td rowspan="3" class="gmail-xl81" width="64" style="border-width:1pt;border-style:solid;border-color:windowtext windowtext black;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px">Lth</td>
  <td rowspan="3" class="gmail-xl81" width="64" style="border-width:1pt;border-style:solid;border-color:windowtext windowtext black;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px">Qty</td>
  <td colspan="11" class="gmail-xl76" width="704" style="border-right:1pt solid black;border-left:none;width:528pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-bottom:1pt solid windowtext;background:rgb(255,255,153);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">As per SAP</td>
  <td colspan="11" class="gmail-xl76" width="704" style="border-right:1pt solid black;border-left:none;width:528pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-bottom:1pt solid windowtext;background:rgb(255,255,153);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">As per Guidelines / Price Approval</td>
  <td colspan="2" class="gmail-xl79" width="128" style="border-right:1pt solid black;border-left:none;width:96pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-bottom:1pt solid windowtext;background:rgb(141,180,226);padding-top:1px;padding-right:1px;padding-left:1px">Diff (Surcharge/ Discount) to add in the system</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td rowspan="2" height="42" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;height:31.5pt;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">System Base Price</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">GE</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">DE</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">ME</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">PE</td>
  <td class="gmail-xl65" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px"> </td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">Ex-Hazira</td>
  <td rowspan="2" class="gmail-xl72" style="border-bottom:1pt solid black;border-top:none;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Freight</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">ST on Freight</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">CST</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">Delivered Price</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">Min. Base Price</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">GE</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">DE</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">ME</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">PE</td>
  <td class="gmail-xl65" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px"> </td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">Ex-Hazira</td>
  <td rowspan="2" class="gmail-xl72" style="border-bottom:1pt solid black;border-top:none;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Freight</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">ST on Freight</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">CST</td>
  <td rowspan="2" class="gmail-xl74" width="64" style="border-bottom:1pt solid black;border-top:none;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-right:1pt solid windowtext;border-left:1pt solid windowtext;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">Delivered Price</td>
  <td class="gmail-xl66" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(141,180,226);padding-top:1px;padding-right:1px;padding-left:1px"> </td>
  <td class="gmail-xl67" width="64" style="width:48pt;color:windowtext;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;border:none"></td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="gmail-xl65" width="64" style="height:15.75pt;width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">Pkg</td>
  <td class="gmail-xl65" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(146,208,80);padding-top:1px;padding-right:1px;padding-left:1px">Pkg</td>
  <td class="gmail-xl66" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-weight:700;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(141,180,226);padding-top:1px;padding-right:1px;padding-left:1px"> </td>
  <td class="gmail-xl67" width="64" style="width:48pt;color:windowtext;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;border:none"></td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="gmail-xl68" style="height:15.75pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Cust-A</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">31.01.2019</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1.8E+09</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">10</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Metal1</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Grade1</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0.8</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1250</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Coil</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">25</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">72750</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2000</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2000</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">76750</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">74750</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">70750</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2000</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">72750</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">72750</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2000</td>
  <td class="gmail-xl67" width="64" style="width:48pt;color:windowtext;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;border:none"></td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="gmail-xl68" style="height:15.75pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Cust-A</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">31.01.2019</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1.8E+09</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">20</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Metal1</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Grade2</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1.2</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1250</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Coil</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">15</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">72750</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2000</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2000</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">76750</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">74750</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">70750</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2000</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">72750</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">72750</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-2000</td>
  <td class="gmail-xl67" width="64" style="width:48pt;color:windowtext;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;border:none"></td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="gmail-xl68" style="height:15.75pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">3</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Cust-A</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">31.01.2019</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1.8E+09</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">30</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Metal1</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Grade3</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1.5</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1250</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Coil</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">5</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">72750</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2000</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2000</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">76750</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">74750</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">70750</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">2000</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">72750</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">72750</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-2000</td>
  <td class="gmail-xl67" width="64" style="width:48pt;color:windowtext;vertical-align:middle;padding-top:1px;padding-right:1px;padding-left:1px;font-size:11pt;font-family:Calibri,sans-serif;border:none"></td>
 </tr>

</tbody></table></div></div>
