<div dir="ltr"><div class="gmail_quote"><div dir="ltr" class="gmail_attr">Hi,</div><div dir="ltr"><div class="gmail_quote"><div dir="ltr"><div><br></div><div><span style="color:rgb(0,0,0);font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:13px;white-space:pre-wrap">Please find the following data.</span> ,</div><div><br></div><div><span style="color:rgb(0,0,0);font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:13px;white-space:pre-wrap">SO No 1234567891 Item 25 is on hold. I cleared the same.</span></div><div><span style="color:rgb(0,0,0);font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:13px;white-space:pre-wrap">SO No 1234567891 Item 30 is on hold.I cleared the same.</span></div><div><br></div><div><br></div><div>Thanks and Regards,</div><div>MDoffice  <br></div></div>
</div></div>
</div></div>
