<div dir="ltr"><div>Kindly Find the cleared SO items.</div><br><div><table border="0" cellpadding="0" cellspacing="0" width="1120" style="border-collapse:collapse;width:840pt">

 <colgroup><col width="65" style="width:49pt">
 <col width="95" style="width:71pt">
 <col width="64" span="15" style="width:48pt">
 </colgroup><tbody><tr height="69" style="height:51.75pt">
  <td height="69" class="gmail-xl63" width="65" style="height:51.75pt;width:49pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px">Proposal
  Dt</td>
  <td class="gmail-xl64" width="95" style="width:71pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">SO</td>
  <td class="gmail-xl64" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">Item</td>
  <td class="gmail-xl65" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">Customer</td>
  <td class="gmail-xl64" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">Qty</td>
  <td class="gmail-xl64" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">System NSR</td>
  <td class="gmail-xl64" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">Proposed Surcharge /Discount</td>
  <td class="gmail-xl64" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px">Proposed NSR</td>
  <td class="gmail-xl66" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(255,192,0);padding-top:1px;padding-right:1px;padding-left:1px">Stock transfer Freight Rs</td>
  <td class="gmail-xl66" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(255,192,0);padding-top:1px;padding-right:1px;padding-left:1px">Curr</td>
  <td class="gmail-xl66" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(255,192,0);padding-top:1px;padding-right:1px;padding-left:1px">Conv Rate</td>
  <td class="gmail-xl66" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(255,192,0);padding-top:1px;padding-right:1px;padding-left:1px">Ex Haz NSR Rs / mt with DEPB</td>
  <td class="gmail-xl66" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(255,192,0);padding-top:1px;padding-right:1px;padding-left:1px">Ex Haz BEN Rs / mt</td>
  <td class="gmail-xl67" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(0,176,240);padding-top:1px;padding-right:1px;padding-left:1px">Proposed BEN Rs / mt</td>
  <td class="gmail-xl67" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(0,176,240);padding-top:1px;padding-right:1px;padding-left:1px">Sales plan BEN Rs</td>
  <td class="gmail-xl67" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(0,176,240);padding-top:1px;padding-right:1px;padding-left:1px">Proposed BEN Diff Rs</td>
  <td class="gmail-xl67" width="64" style="width:48pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(0,176,240);padding-top:1px;padding-right:1px;padding-left:1px">Remark</td>
 </tr>
 <tr height="21" style="height:15.75pt">
  <td height="21" class="gmail-xl68" style="height:15.75pt;color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">11-Feb-19</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1802199402</td>
  <td class="gmail-xl70" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:right;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">30</td>
  <td class="gmail-xl71" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Cust-A</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">5</td>
  <td class="gmail-xl72" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">70,750.00</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-3889</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">66885</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">0</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">INR</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">1</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">70750</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">77110</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">73221</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">73250</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">-2900</td>
  <td class="gmail-xl69" style="color:windowtext;font-size:10pt;font-family:Arial,sans-serif;text-align:center;vertical-align:middle;border-top:none;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;padding-top:1px;padding-right:1px;padding-left:1px;white-space:nowrap">Cleared</td>
 </tr>

</tbody></table></div></div>
