<div dir="ltr"><span style="color:rgb(0,0,0);font-family:&quot;Times New Roman&quot;;font-size:medium">Hi,</span><div style="color:rgb(0,0,0);font-family:&quot;Times New Roman&quot;;font-size:medium">The following SO items have been cleared</div><div style="color:rgb(0,0,0);font-family:&quot;Times New Roman&quot;;font-size:medium">SO No 1234567891 Item 25 Cleared</div><div style="color:rgb(0,0,0);font-family:&quot;Times New Roman&quot;;font-size:medium">SO No 1234567891 Item 30 Hold </div></div>
